@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="isDarkMode" Theme="Configurations.Theme" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar >
        <div class="d-flex" style="justify-content: space-between; width: 100%; align-items: center;">
            Dima
            <MudSwitch T="bool" @bind-value="@isDarkMode" />
        </div>
    </MudAppBar>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    bool isDarkMode = true;
}